<h1>List of all actors</h1>
<table border = "1">
  <tbody>
    <tr>
      <th>ID</th>
      <th>Image</th>
      <th>Name</th>
      <th>Dob</th>
      <th></th>
    </tr>
    <% @actor_array.each do |data| %>
    <tr>
      <% data.each do |datum| %>
        <% if datum.to_s[0..4] == "https" %>
          <td><img src=<%= datum.to_s %>></td>
        <% else%>
          <td><%= datum %></td>
        <% end %>
      <% end %>
      <td><a href="/actors/<%= data.at(0).to_s %>">Show details</a></td>
    </tr>
    <% end %>
  </tbody>
</table>
